[Unit]
Description=RFLink MQTT interface for Home Logic
After=syslog.target network.target mosquitto.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/scripts/python/rflink_mqtt/rflink_mqtt.py
User=pi
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
